.login-form{
  position:absolute;
  width: 500px;
  left: 100px;
  top:100px;
}

.seven.wide.column{
  right: 50px;
  top: 30px;
}

.friends-btn{
  cursor: pointer;
}

#events{
  cursor: pointer;
}

#search-card{
  width: 200px;
  
}

.edit-form{
  right: 50px;
  top: 30px;
}

.create-event{
  position: relative;
  width: 600px;
  left: 50px;
  top:30px;
}